* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #fff;
  max-height: 100vh;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

td[class^='vgt'],
th[class^='vgt'] {
  animation: fadeIn ease 300ms;
}

th[class^='vgt'] {
  position: sticky !important;
  top: 0;
  z-index: 100;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn ease 250ms;
}

/* Transitions using the page hook */
.page-enter-active,
.page-leave-active {
  transition: all 0.2s ease-out;
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}

.btn-icon {
  display: flex;
  align-items: center;
}

.btn-icon i {
  margin-right: 0.3rem;
}

.cursor-pointer {
  cursor: pointer;
}
