* {
  font-family: 'Roboto', sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

td[class^='vgt'],
th[class^='vgt'] {
  animation: fadeIn ease 300ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.my-table {
  border: none !important;
}

.my-table thead {
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
}

.my-table thead th {
  background: #f3f7f9 !important;
}

.my-table tbody tr {
  border-bottom: 1px solid #dee2e6;
}
