/* users table height */
.users-table .vgt-responsive {
  height: calc(100vh - 275px);
}

/* bills table height */
.bills-table .vgt-responsive {
 height: calc(100vh - 208px); 
}

.my-table {
  border: none !important;
}

.my-table thead {
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
}

.my-table thead th {
  background: #f3f7f9 !important;
  font-size: 0.875rem;
}

.my-table td {
  vertical-align: middle !important;
  font-size: 0.875rem;
  color: #6c757d !important;
  /*max-width: 190px;*/
}

.table-wrapper {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  border-radius: 3px;
}

.vgt-wrap__footer {
  padding: 0.3rem !important;
  background: none !important;
  border: none !important;
  margin-top: 1rem;
  height: 39.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vgt-clearfix::after {
  display: none !important;
}

.footer__row-count__select {
  padding: 0.375rem 1.75rem 0.375rem 0.75rem !important;
  line-height: 1.5;
  background: #fff
    url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    no-repeat right 0.75rem center;
  background-size: 8px 10px;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.my-table tr.disabled, .my-table tr.disabled:hover {
  background-color: #ececec;
}

.my-table tr.disabled td *:not(button, a) {
  color: #98a6ad;
}

.my-table tr.disabled .custom-control-label::before {
  border: 1px solid rgba(0,0,0,.2);
  /*background-color: #dedcdc;*/
  background-color: #f1f1f1;
}
